.container_items{    
    display: flex;
    justify-content: space-between;        
}

.container_items p{
    color: #FFF;
    margin-right: 5px;
    font-size: 20px;
}

.header_container_items{    
    display: flex;
    justify-content: space-between;    
}

.header_user{
    display: flex;
    flex-direction: row;
    color: white;
}

@media (max-width: 900px) {
    .header_user{
        flex-direction: column-reverse;
    }

}

@media (max-width: 400px) {
    .header_user p{
        display: none;
        
    }

}