
.container_item{    
    margin : 1%;    
    padding: 1%;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    flex-direction: row;
    width:90vw;
    border-top:rgb(156, 156, 156) solid 2px;
    border-bottom:rgb(156, 156, 156) solid 2px;
}

#container_logo img{
    padding-top: 300dvh;
    width: 60%;
}

#container_logo{
    border:none;
    margin-top: 40%;    
    margin-bottom: 20%;    
}

#button_container{    
    justify-content: center; 
    align-items: center;    
}

.button_item{
    margin:20px;
    flex:2;   
}

.content_container{
    display: flex;
}

.content_info,.content_graph{
    flex:1;
}

.button_item_select{
    margin-top: 20px;
}

#pie{
    margin: 0 auto;
    height: 35vh;
    width: 35vw;
}


#insert_hour{
    background-image: url("https://t4.ftcdn.net/jpg/09/31/09/85/360_F_931098564_QlVisdrP5ZiIRRN2rjfLhXj1tSkrooqx.jpg");
    background-size: cover;
    background-position: center;    
    background-repeat: no-repeat;
    height: 44dvh;    
    border-radius: 20px;  
    font-size: 30px;  
    letter-spacing: 10px;
    margin-bottom: 20px;
}

#get_hour{
    background-image: url("https://t4.ftcdn.net/jpg/08/45/27/83/360_F_845278348_WlDw0x7efqnIHj1lsFmGdjsUSsd373Jm.jpg");
    background-size: cover;
    background-position: center;    
    background-repeat: no-repeat;
    height: 44dvh;    
    border-radius: 20px;  
    font-size: 30px;  
    letter-spacing: 10px;

}

#get_hour:hover,#insert_hour:hover{
    height: 50vh;  
    transition: all 1s;  
}

@media (max-width: 900px) {
    .content_container{
        flex-direction: column;
    }

}

@media (max-width: 600px) {
    #button_container{
        flex-direction: column; 
    }
    #container_logo{
        display: none;
    }
    #button_container{
        padding-top: 180vh;
    }

}