/*.user-account-page {
    padding-top: 8rem; /* Añade espacio superior para evitar el solapamiento 
}*/

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    padding-top: 80%; /* Ajuste del espacio superior */
    min-height: 100vh; /* Asegura que el contenedor tenga altura completa */
}

.profile-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem; /* Espacio inferior */
}

.profile-photo img {
    max-width: 220px; /* Ancho máximo de la imagen */
    max-height: 220px; /* Alto máximo de la imagen */
    margin-bottom: 1rem; /* Espacio inferior entre la imagen y el texto */
    border-radius: 50%; /* Hace que la imagen sea circular */
}

.profile-form {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    border: 1px solid #e0e0e0; /* Borde sutil */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
    background-color: #ffffff; /* Fondo blanco */
}

.profile-form .MuiTextField-root {
    margin-bottom: 1rem; /* Espacio inferior entre los campos de texto */
}

.profile-form button {
    margin-top: 1rem;
    background-color: #4CAF50;
    color: #FFFF;
}

.profile-form button:hover {
    cursor: pointer;
    background-color: #45a049; /* Color de fondo en hover */
}

.profile-form p {
    text-align: center;
}

