/*.user-account-page {
    padding-top: 8rem; /* Añade espacio superior para evitar el solapamiento 
}*/

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    padding-top: 80%; /* Ajuste del espacio superior */
    min-height: 100vh; /* Asegura que el contenedor tenga altura completa */
}

.profile-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem; /* Espacio inferior */
}

.profile-photo img {
    max-width: 200px; /* Ancho máximo de la imagen */
    max-height: 200px; /* Alto máximo de la imagen */
    margin-bottom: 1rem; /* Espacio inferior entre la imagen y el texto */
    border-radius: 50%; /* Hace que la imagen sea circular */
}

.profile-form {
    width: 100%; /* Ancho completo */
    max-width: 400px; /* Ancho máximo del formulario */
}

.profile-form .MuiTextField-root {
    margin-bottom: 1rem; /* Espacio inferior entre los campos de texto */
}

.profile-form button {
    margin-top: 1rem; /* Espacio superior para el botón */
    background-color: #4CAF50; /* Color de fondo del botón */
    color: #FFFF; /* Color del texto del botón */
}

.profile-form button:hover {
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}
