.insert-hour-container{
    background-color: #FFFF;
    border-radius: 10px;
    padding: 10px;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
    align-items: center;
}

.form-container label {
    text-align: left; 
}

.form-container input, #activity_description{
    width: 100%; 
}

#activity_description{
    resize: none;
    height: 120%;
    height: 15vh;    
    margin-top:10px ;

}

@media (max-width: 420px) {
    .form-container{
        grid-template-columns: 1fr;
    }
}